.blog {
    padding: 2rem 0;
    background-color: #f0f0f0;
    .categories-filter {
        margin: 1rem 0;
        display: inline-flex;
        align-items: baseline;
        flex-wrap: wrap;

        .category {
            font-family: "Lora", sans-serif;

            border: solid 1px #444;

            font-weight: 500;
            font-size: 0.9rem;

            padding: 0.5rem 0.75rem;
            margin-right: 1rem;
            cursor: pointer;

            transition: background 0.2s;

            &.selected {
                background-color: var(--bs-dark);
                color: white;
            }

            input {
                visibility: hidden;
                position: absolute;
            }
        }

        .clear-filters {
            cursor: pointer;
            display: flex;
            span {
                color: var(--bs-dark);
                font-size: 1.1rem;
                margin: auto;
                &::before {
                    vertical-align: -0.25rem;
                }
            }
        }
    }

    .search-wrap {
        display: flex;

        #searchBar {
            margin: auto 0 auto auto;
            display: flex;
            width: 300px;

            input {
                font-family: "Lora", sans-serif;
                font-size: 0.9rem;
                padding: 0.65rem 0.75rem;
                font-weight: 500;
            }
            span {
                color: #777;
                cursor: pointer;
                margin: auto;
                margin-left: -1.75rem;
            }
        }
    }
    .posts-wrap {
        position: relative;
        .loading-overlay {
            display: none;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#f0f0f0, 0.5);
            z-index: 2;

            .inner {
                width: 100%;
                height: 100%;
                display: flex;
            }
            span {
                margin: auto;
                color: var(--bs-dark);
            }
        }
        .post {
            position: relative;
            display: flex;

            margin: 1rem 0 2rem;
            background-color: #fff;
            border-radius: 1rem;

            box-shadow: 2px 2px 6px rgba(#000, 0.1);

            .image {
                margin-right: 1.5rem;

                &:has(img) .placeholder-img {
                    display: none;
                }

                .placeholder-img,
                img {
                    width: 300px;
                    height: 100%;
                    border-radius: 1rem 0 0 1rem;

                    transition: transform 0.2s;
                }
                .placeholder-img {
                    background-color: #d9d9d9;
                    display: flex;
                    span {
                        font-size: 3rem;
                        margin: auto;
                        color: #999;
                    }
                }
                img {
                    object-fit: cover;
                }
            }

            .content {
                position: relative;
                width: 100%;
                padding: 2rem 1rem;

                .meta {
                    position: absolute;
                    right: 0.5rem;
                    top: 0.5rem;
                    padding: 0.5rem 1rem;
                    background-color: #f0f0f0;
                    border-radius: 1rem;

                    display: inline-flex;
                    font-size: 0.8rem;
                    color: #000;
                    font-weight: 300;
                    letter-spacing: 0.4px;

                    .separator {
                        margin: 0 0.25rem;
                    }
                    .post-categories {
                        font-family: "Lora", sans-serif;
                        font-weight: 500;
                        line-height: 1;
                    }
                }

                .title {
                    padding-top: .75rem;
                    width: 600px;
                    max-width: 100%;
                }

                .excerpt {
                    font-size: 0.9rem;
                    letter-spacing: 0.4px;
                }

                .action a {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .load-more {
        margin-top: 1rem;
    }
    .message-wrap {
        .message {
            font-weight: 300;
            font-size: 0.9rem;
            letter-spacing: 0.4px;
        }
    }
}

@media all and (max-width: 1400px) {
    .blog .posts-wrap .post .content .title {
        padding-top: 1.5rem;
        width: auto;
    }
}

@media all and (max-width: 992px) {
    .blog {
        .posts-wrap {
            .post {
                .image {
                    img,
                    .placeholder-img {
                        width: 200px;
                    }
                }
                .content {
                    .meta {
                        position: relative;
                        inset: 0;
                        margin-left: -0.5rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    .blog {
        .posts-wrap {
            .post {
                flex-flow: column;
                .image {
                    margin-right: 0;
                    img,
                    .placeholder-img {
                        width: 100%;
                        height: 200px;
                        border-radius: 1rem 1rem 0 0;
                    }
                }
                .content {
                    padding: 0 1.5rem 1.5rem;

                    .meta {
                        box-shadow: 0 0 3px rgba(#000, 0.2);
                        position: relative;
                        inset: 0;
                        top: -1rem;
                    }
                    .title {
                        padding-top: 0;
                        margin-bottom: 0.75rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    .blog {
        .categories-filter {
            .category {
                margin-bottom: 0.5rem;
                margin-right: 0.5rem;
            }
        }
        .posts-wrap {
            .post {
                .content {
                    padding: 0 1.25rem 1.5rem;
                }
            }
        }
    }
}
